@font-face{
   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: bold;
   src: local("ProximaNova"),
        url(/src/fonts/ProximaNova-Bold.ttf) format('tryetype'),
        url(/build/fonts/ProximaNova-Bold.woff) format('woff'),
        url(/build/fonts/ProximaNova-Bold.woff2) format('woff2');
}
@font-face{
   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: normal;
   src: local("ProximaNova"),
        url(/src/fonts/ProximaNova-Regular.ttf) format('tryetype'),
        url(/build/fonts/ProximaNova-Regular.woff) format('woff'),
        url(/build/fonts/ProximaNova-Regular.woff2) format('woff2');
}